{% extends "layout.html"%}{% block content%}

<form method="POST" action={{ url_for('add') }}>
 {{ add_form.csrf_token }}
 {{ add_form.name }}
 {{add_form.description}}
 {{ add_form.add_submit }}
</form>
<form method="POST" action={{ url_for('delete') }}>
 {{ delete_form.csrf_token }}
 {{ delete_form.name }}
 {{ delete_form.delete_submit }}
</form>
<form method="POST" action={{url_for('clear')}}>
  {{clear_form.csrf_token}}
  {{clear_form.clear_submit}}
</form>
<ul>
  {%for item in list%}
  <li>{{item[1]}} - {{item[2]}}</li>
  {%endfor%}
</ul>

{% endblock %}
