{% extends "layout.html"%}{% block content%}
<form method="POST" action={{ url_for('add') }}>
 {{add_form.csrf_token}}
 {{add_form.name}}
 {{add_form.description}}
 {{ add_form.add_submit }}
</form>
<form method="POST" action='/deletename'}}>
 {{ delete_form.csrf_token }}
 {{ delete_form.name }}
 {{ delete_form.delete_submit }}
</form>
<form method="POST" action={{url_for('clear') }}>
  {{clear_form.csrf_token}}
  {{clear_form.clear_submit}}
</form>
<ul>
  {% for item in contents %}
  <li>{{item.name}} - {{item.description}} <button id="edit" onclick="MyFunction({{item.id}})">Edit</button></li>
  <div style="display: none;" class="editforms" id='{{item.id}}'>
    <form method="POST" action='edit/{{item.id}}'>
    {{edit_form.csrf_token}}
    {{edit_form.name}}
    {{edit_form.description}}
    {{edit_form.edit_submit}}
    </form>
    <form method="POST" action='deletebutton/{{item.id}}'>
      {{delete_form.delete_submit}}
    </form>
  </div>
  {%endfor%}
</ul>

<script>
  function MyFunction(idnum) { // Edit button that hides and closes.
    var x = document.getElementById(idnum);
    if(x.style.display === "none"){
      x.style.display = "block";
    } else{
      x.style.display = "none";
    }
  }
</script>
{% endblock %}
